
    
    <div class="container" ng-controller="Editaproductecontroller">
       
        <div class="col-xs-6">

            <form>
                <div>
                    <span><strong>Editar Producte</strong></span>
                    <input data-ng-model="nomE"/>
                   
                    <input data-ng-model="preuE"/>
                    <br>

                    <button class="btn btn-default" ng-click="modificarproducte()">Guarda Modificació <span class="glyphicon glyphicon-floppy-disk"></span></button>


                </div>
            </form>
           
        </div>

    </div>
   